<div class="container-fluid">
  
    <div class="row">
      <div class="col-sm-2 md-5" style="font-size: large;font-weight: bold;font-style: inherit;">
        <br>
        <br>
        <br>
        <br>
      
      
        
      <ul>
        <li>Introduction</li>
        <li>License</li>
        <li>Installation Type</li>
        <li>Summary</li>


      </ul>
    </div>
  
      <div class="col-sm-10" style="font-size: large;">
     
      <div class="intro">Introduction</div>
      <!-- <div class="intro">License</div> -->
      <!-- <div class="intro">Installation Type</div> -->
      <!-- <div class="intro">Summary</div> -->
  
   
  <!--INTRODUCTION-->
   <!-- <div class="box d-flex justify-content-center mt-4"> 
    Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
  
  The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings:
  
  Disclaimer
  A disclaimer states that your site is available on an “as-is and as-available basis,” and that users use it at their own risk. A basic disclaimer template should include these terms are others, as well.
  
  Corrections
  We’re all human. If you make errors on your site, you need to show that you’re not liable. This section covers your back just in case there are any mistakes in your content, allowing you to update it with the correct information at any time.
  Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
  
  The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings:
  
  Disclaimer
  A disclaimer states that your site is available on an “as-is and as-available basis,” and that users use it at their own risk. A basic disclaimer template should include these terms are others, as well.
  
  Corrections
  We’re all human. If you make errors on your site, you need to show that you’re not liable. This section covers your back just in case there are any mistakes in your content, allowing you to update it with the correct information at any time.
  Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
  
  The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings:
  
  Disclaimer
  A disclaimer states that your site is available on an “as-is and as-available basis,” and that users use it at their own risk. A basic disclaimer template should include these terms are others, as well.
  
  Corrections
  We’re all human. If you make errors on your site, you need to show that you’re not liable. This section covers your back just in case there are any mistakes in your content, allowing you to update it with the correct information at any time.
  Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
  
  The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings:
  
  Disclaimer
  A disclaimer states that your site is available on an “as-is and as-available basis,” and that users use it at their own risk. A basic disclaimer template should include these terms are others, as well.
  
  Corrections
  We’re all human. If you make errors on your site, you need to show that you’re not liable. This section covers your back just in case there are any mistakes in your content, allowing you to update it with the correct information at any time.
  </div> -->
  
  <!--LICESNSE-->
   <!-- <div class="box d-flex justify-content-center mt-4">
    Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
  
    The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings:
    
    Disclaimer
    A disclaimer states that your site is available on an “as-is and as-available basis,” and that users use it at their own risk. A basic disclaimer template should include these terms are others, as well.
    
    Corrections
    We’re all human. If you make errors on your site, you need to show that you’re not liable. This section covers your back just in case there are any mistakes in your content, allowing you to update it with the correct information at any time.
    Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
    
    The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings:
    
    Disclaimer
    A disclaimer states that your site is available on an “as-is and as-available basis,” and that users use it at their own risk. A basic disclaimer template should include these terms are others, as well.
    
    Corrections
    We’re all human. If you make errors on your site, you need to show that you’re not liable. This section covers your back just in case there are any mistakes in your content, allowing you to update it with the correct information at any time.
    Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
    
    The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings  
  </div>  -->
  
  <!--INSTALL TTYPE-->
   <!-- <div class="box d-flex justify-content-center mt-4">
  
  
    Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
  
    The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings:
    
    Disclaimer
    A disclaimer states that your site is available on an “as-is and as-available basis,” and that users use it at their own risk. A basic disclaimer template should include these terms are others, as well.
    
    Corrections
    We’re all human. If you make errors on your site, you need to show that you’re not liable. This section covers your back just in case there are any mistakes in your content, allowing you to update it with the correct information at any time.
    Even a short terms and conditions agreement should include several key clauses to safeguard your business. For example, if you’re selling online and incorrectly price an item, your terms and conditions are what will enable you to cancel the order.
    
    The following are some of the most important sections of your terms and conditions for ensuring user clarity and preventing misunderstandings:
    
    Disclaimer
    A disclaimer states that your site is available on an “as-is and as-available basis,” and that users use it at their own risk. A basic disclaimer template should include these terms are others, as well.
    
  </div>  -->
  
  
  <!-- Summary-->
  <div class="box-tick d-flex justify-content-center mt-4">
   <div style="align-items: center;float:center">
      <img src="../../../../assets/img/brand/greentick.png">
  
    
    <div>
   <h1 class="success">The Installation was Succesfull</h1>
   <!-- <p class="success-down">The software was installed</p> -->
    </div>
    </div>
    </div>
  
  <button class="continue mr-3" style="float:right" >Continue</button>
  
  <!-- <button class="agree" style="float:right" >I Agree</button> -->
  <!-- <button class="agree" style="float:right" >Install</button> -->
  <!-- <button class="agree" style="float:right" >Finish</button> -->
  
  
  <!-- <button class="goback" style="float:right" >Go Back</button> -->
  
  
  </div>  
    </div>
  </div>