<div class="all">
  <div class="card-deck col d-flex justify-content-center mt-4" >
  
    <div class="card-customer text-white mb-5 mr-5" (click)="account()">
      <div class="card-body" >
        <h5 class="card-title"><i class="fa fa-user fa-3x"></i></h5>
        <p class="card-text-customer">Account</p>
      </div>
    </div>
  
  <div class="card-inventory text-white mb-3 mr-5" (click)="regular()">
    <div class="card-body" >
      <h5 class="card-title"><i class="fa fa-edit fa-3x"></i></h5>
      <p class="card-text-inventory">Regular Inventory</p>
    </div>
  </div>
  
  
  
  
  <div class="card-report text-white mb-3 mr-5" (click)="manual()">
    <div class="card-body" >
      <h5 class="card-title"><i class="fa fa-clipboard fa-3x"></i></h5>
      <p class="card-text-report">Manual Inventory</p>
    </div>
  </div>
  
  
  
  </div>
  
  
  
  
  
  <div class="card-deck col d-flex justify-content-center">
  
  
  
  <div class="card-stock text-white mb-3 mr-5" (click)="ladger()">
    <div class="card-body" >
      <h5 class="card-title"><i class="fa fa-file  fa-3x"></i></h5>
      <p class="card-text-stock">Ladger</p>
    </div>
  </div>
  
  
  <div class="card-profile text-white mb-3 mr-5" (click)="reporting()">
    <div class="card-body" >
      <h5 class="card-title"><i class="fa fa-rss-square fa-3x"></i></h5>
      <p class="card-text-profile">Reporting</p>
    </div>
  </div>



  <div class="card-book text-white mb-3 mr-5" (click)="ladgerbook()">
    <div class="card-body" >
      <h5 class="card-title"><i class="fa fa-book fa-3x"></i></h5>
      <p class="card-text-book">Ladger Book</p>
    </div>
  </div>




  </div>
  
  
  
  
  
  </div>