nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
.card-customer{
  width: 15%;
  height: 60%;
  border-radius:15px;
  background-color:rgb(103, 231, 210);
}
.card-title{
  color: white;
  margin-left: 68px;
}
.card-text-customer{
  color: white;
  font-weight: bold;
  font-size: large;
  margin-left: 50px;
}


.card-inventory{
  width: 15%;
  height: 60%;
  border-radius:15px;
  background-color:rgb(184, 96, 100);
}

.card-text-inventory{
  color: white;
  font-weight: bold;
  font-size: large;
  margin-left: 8px;
}

.card-report{
  width: 15%;
  height: 60%;
  border-radius:15px;
  background-color:rgb(162, 134, 226);
}
  .card-text-report{
    color: white;
    font-weight: bold;
    font-size: large;
    margin-left:20px;
  
  
  }
  .card-stock{
    width: 15%;
    height: 60%;
    // margin-left: 7%;
    border-radius:15px;
    background-color:rgb(91, 98, 133);
  }
  .card-text-stock{
    color: white;
    font-weight: bold;
    font-size: large;
    margin-left: 60px;


  }
  .card-profile{
    width: 15%;
    height: 60%;
    border-radius:15px;
    background-color:rgb(65, 114, 111);
  }
  .card-text-profile{
    color: white;
    font-weight: bold;
    font-size: large;
    margin-left: 40px;
  
  
  }
  .card-book{
    width: 15%;
    height: 60%;
    border-radius:15px;
    background-color:rgb(176, 240, 59);
  }
  .card-text-book{
    color: white;
    font-weight: bold;
    font-size: large;
    margin-left: 35px;
  
  
  }
  
  
  // @media only screen and (min-width: 1400px) {
  //   p {
  //       font-size: 14px
  //   }
  // }