<div class="all">
<div class="card-deck col d-flex justify-content-center mt-4" >

  <div class="card-customer text-white mb-5 mr-5" (click)="customer()">
    <div class="card-body" >
      <h5 class="card-title"><i class="fa fa-user fa-3x"></i></h5>
      <p class="card-text-customer">CRM</p>
    </div>
  </div>

<div class="card-inventory text-white mb-3 mr-5" (click)="inventory()">
  <div class="card-body" >
    <h5 class="card-title"><i class="fa fa-clipboard fa-3x"></i></h5>
    <p class="card-text-inventory">Inventory Manager</p>
  </div>
</div>




<div class="card-report text-white mb-3 mr-5" (click)="reporting()">
  <div class="card-body" >
    <h5 class="card-title"><i class="fa fa-rss-square fa-3x"></i></h5>
    <p class="card-text-report">Analytics</p>
  </div>
</div>



</div>





<div class="card-deck col d-flex justify-content-center">



<div class="card-stock text-white mb-3 mr-5" (click)="stock()">
  <div class="card-body" >
    <h5 class="card-title"><i class="fa fa-truck fa-3x"></i></h5>
    <p class="card-text-stock">Stock Manager</p>
  </div>
</div>


<div class="card-profile text-white mb-3 mr-5" (click)="profile()">
  <div class="card-body" >
    <h5 class="card-title"><i class="fa fa-id-badge fa-3x"></i></h5>
    <p class="card-text-profile">Shop Manager</p>
  </div>
</div>
</div>





</div>